@media (max-width: 767px) {

	.header {
        padding: 0 12px !important;
    }

	.main-header {
        padding: 0px 0px !important;
    }

    .main-banner {
		height: 500px;
	}

	.main-banner .banner-content .title {
		font-size: 42px !important;
	}

	.main-banner .banner-content {
        width: 100% !important;
    }

	.main-banner .banner-content .description {
        margin-bottom: 15px !important;
        width: 100% !important;
        line-height: 28px !important;
    }

	.main-banner .banner-content .banner-info .get-started-btn .btn {
        font-size: 16px !important;
        line-height: 28px !important;
        padding: 12px 35px !important;
        margin-bottom: 20px !important;
    }

    .service-item {
        padding: 60px 20px !important;
    }

    .grid-wrapper {
        gap: 40px 16px;
    }

	.grid-wrapper.grid-lg-2 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

	.tech-grid {
        grid-template-columns: 1fr !important;
    }

	.grid-wrapper.grid-xs-1 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .awards-slider .card-body {
		height: 360px !important;
	}

    /* .service-single .accordion.accordion-style-pgs-two .accordion-item .accordion-header .accordion-button {
		padding: 16px;
		font-size: 16px;
		line-height: 28px;
	} */

    .sidebar .widget {
		padding: 20px !important;
	}

    .seo-services {
        grid-template-columns: repeat(1, 1fr);
    }

    .smm-services {
        grid-template-columns: repeat(1, 1fr);
    }

    .pm-services {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:768px) and (max-width:1023px) {

    .main-banner {
		height: 600px;
	}

	.main-banner .banner-content {
		width: 90%;
	}

	.main-banner .banner-content .title {
		font-size: 60px;
	}

	.main-banner .banner-content .description {
		margin-bottom: 30px;
		width: 80%;
	}

    .grid-wrapper {
        gap: 40px 16px;
    }

    .awards-slider .card-body {
		height: 410px !important;
	}

    .grid-wrapper.grid-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .list-wrapper .graphics-design-list {
        height: 345px;
    }

    .seo-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .smm-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .pm-services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px) and (max-width:1439px) {

    header.header {
        padding: 0 30px;
    }

     .header .navbar .dropdown-menu {
        min-width: 100vw;
    }

    .main-banner {
		height: 700px;
	}

	.main-banner .widget-social {
		right: 20px;
	}

	.main-banner .banner-title {
		font-size: 190px;
		line-height: 210px;
	}

	.main-banner .banner-content {
		width: 85%;
		padding-left: 0px;
	}

	.main-banner .banner-content .title {
		font-size: 70px;
	}

    .grid-wrapper {
        gap: 40px 16px;
    }

    .awards-slider .card-body {
		height: 355px !important;
	}

    .grid-wrapper.grid-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .list-wrapper .graphics-design-list {
        height: 382px;
    }

    .seo-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .smm-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .pm-services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1440px) and (max-width:1599px) {
    .grid-wrapper {
        gap: 40px 16px;
    }

    .awards-slider .card-body {
		height: 412px !important;
	}

    .main-banner .banner-content {
		width: 74%;
	}

	.main-banner .banner-content .title {
		font-size: 72px;
	}

    .list-wrapper .graphics-design-list {
        height: 382px;
    }

    .seo-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .smm-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .pm-services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1600px) and (max-width:1919px) {
    .grid-wrapper {
        gap: 40px 16px;
    }

    .awards-slider .card-body {
		height: 412px !important;
	}

    .list-wrapper .graphics-design-list {
        height: 382px;
    }

    .seo-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .smm-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .pm-services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1920px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px;
    }

    .grid-wrapper {
        gap: 30px 16px;
    }

    .awards-slider .card-body {
		height: 392px !important;
	}

    .list-wrapper .graphics-design-list {
        height: 345px;
    }

    .seo-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .smm-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .pm-services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .grid-wrapper.grid-xs-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-wrapper.grid-xs-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-wrapper.grid-xs-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-wrapper.grid-xs-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-wrapper.grid-xs-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-wrapper.grid-xs-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid-wrapper.grid-sm-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-wrapper.grid-sm-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-wrapper.grid-sm-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-wrapper.grid-sm-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-wrapper.grid-sm-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-wrapper.grid-sm-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .grid-wrapper.grid-md-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-wrapper.grid-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-wrapper.grid-md-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-wrapper.grid-md-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-wrapper.grid-md-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-wrapper.grid-md-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 578px) and (max-width: 991px) {
    .grid-wrapper.grid-lg-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-wrapper.grid-lg-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-wrapper.grid-lg-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-wrapper.grid-lg-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-wrapper.grid-lg-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 992px) {
    .grid-wrapper.grid-xl-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-wrapper.grid-xl-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-wrapper.grid-xl-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-wrapper.grid-xl-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-wrapper.grid-xl-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-wrapper.grid-xl-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 991px) {
    section:has(.rounded-section) {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    header.header .main-header {
		padding: 0 0px;
	}
}

